[submodule "patient"]
	path = patient
	url = https://github.com/satyamaarav/patient.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/satyamaarav/git-config-server.git
[submodule "config-sever"]
	path = config-sever
	url = https://github.com/satyamaarav/config-server.git
